<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSite</title>
    <link rel="shortcut icon" href="../assets/bandeira-brasil.png" type="image/x-icon">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <!-- Cabeçalho do site -->
    <header>
            <!-- Home Page -->
            <a href="./homePage.html" class="logo">
                <li> Home </li>
            </a>
     
            <nav>
            <!-- Página de vizualização dos estados -->
            <a href="./estadosPage.html"> Estados brasileiros </a>
            <!-- Página para vizualizar as cidades -->
            <a href="./cidadesPage.html"> Cidades brasileiras </a>
            </nav>
    </header>
    <!-- Conteúdo da página home -->
    <section id="main-container">
        <div class="main-content">
            <div class="informational-content">
                <h1 class="text-menu"> Seja Bem Vindo!</h1>
                <h3 class="text-animation"> Descubra <span></span></h3> 
                <br><br>
                <a href="./estadosPage.html"><button class="button-navigation"> Explorar </button> </a>
            </div>
            
            <img src="../assets/mapa-brasil.png" />
        </div>
    </section>
    <!-- Rodapé do site -->
    <footer>
        <address>
            <p>Desenvolvido por: JonasFortunatoRosset</p>
            <p>Email: jonasfortunatorosset@gmail.com</p>
        </address>
    </footer>
</body>
</html>