<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSite</title>
    <link rel="shortcut icon" href="../assets/bandeira-brasil.png" type="image/x-icon">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <!-- Cabeçalho do site -->
    <header>
        <ul>
            <!-- Home Page -->
            <a href="./homePage.html">
                <li class="li-style-header"> 
                    <img src="../assets/icone-home.png" class="icons-style"/>
                    Home </li>
            </a>
            <!-- Página de vizualização dos estados -->
            <a href="">
                <li class="li-style-header"> 
                    <img src="../assets/icone-brasil.png" class="icons-style"/>
                    Estados brasileiros </li>
            </a>
            <!-- Página para vizualizar as cidades -->
            <a href="">
                <li class="li-style-header"> 
                    <img src="../assets/cidade.png" class="icons-style"/>
                    Cidades brasileiras </li>
            </a>
        </ul>
    </header>
    <!-- Conteúdo da página home -->
    <section>

    </section>
    <!-- Rodapé do site -->
    <footer>

    </footer>
</body>
</html>