*{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

header{
    height: 70px;
    background-color: aliceblue;
}

ul{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons-style{
    height: 25px;
    width: 40;
}

.li-style-header{
    font-family: sans-serif;
    font-size: 20;
    color: #bdc5d1;
}

.li-style-header:hover{
    color: #2670e8;
}

